/**
** Her står det ulike tagger som du skal putte inn egendefinerte css-regler i.
*/
html {
    /** Legg inn finere fonter!
    *   enkel oppgave: https://www.w3schools.com/cssref/css_websafe_fonts.asp
    *   utfordring: bruk en fancy font som ikke følger med i nettleseren
    */

    /** legg også til "margin"-properties og legg til marginer
    */
}

p {
    /** legg for eksempel til en farge med "background-color: ;" propertyen her og se hva som skjer */
}

img {
    /** sett for eksempel "width" til 260px og "height" til 200px */
}

figure {
    /** Denne vil vi skal flyte til venstre
    *   Og vi vil gi figuren marginer, slik at det er luftig og behagelig å se på
    */
}

figure figcaption {
    /**
    *   Sørg for at teksten under bildet i figuren ikke er bredere enn bildet!
    */
}

blockquote:before {
    /**
    *   "content: open-quote" legger til en "-figur. Gjør den kul med 
    *    color, font-size, line-height, margin-right og vertical-align
    */
    content: open-quote;
}

blockquote {
    /** Legg til padding slik at teksten får litt luft over seg*/
}

blockquote author {
    /** endre på display-propertyen slik at forfatter ikke vises på samme linje.
    *   gjør også teksten mindre her
    */
}

header author {
    /** Her kan teksten også godt gjøres litt mindre */
}

video {
    /**
    *   sett bredde og høyde
    */
}
/**
*   Her følgre egen-definerte "klasser"
*   Klasser defineres med et punktum (.) forran ordet i css-fila.
*   En klasse skal referere til alle objekter av samme klasse på hele siden.
*/
.fargetekst {
    /** velg en farge til teksten i alle <span>-elementer som er av denne typen*/
}

.span-er-kult {
    /** velg noe styling til teksten i alle <span>-elementer som er av denne typen*/
}

ul a {
    /** alle lenker (anchor, eller "a") som er inne i en un-ordered list (ul), får følgende egenskaper */
}

ul>a {
    /**
    **  alle lenker som er direkte barn av et element av typen "ul" vil få følgende egenskaper
    **  Eller, det ville de ha fått om det var noen! Tilfeldigvis er alle lenkene i de listene vi
    **  har i sin tur inni liste-elementer (li)
    */
}

/**
*   ID defineres med skigard eller "hashtag" (#) i css-fila.
*   En ID skal kun referere til et unikt objekt på siden
*/
#typografi {
    /** velg styling til teksten det ene <span>-elementet som har id-en "typografi" */
}

#imgg {
    /**
    * Sett display til noe som ikke er usynlig
    */
    display: none;
}